@model Photo
<div class="cont-det">

    <div class="inner-cont">
        <div class="cont-img">
            <img  class="img-center" src="@Model.Image"/>
        </div>
        <div class="cont-text">

        </div>
    </div>
</div>

