@model List<Photo>

<div class="scroll">
 <div class="cont-det">

    <div class="inner-cont2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var photo in Model)
            {
                <div class="col">
                <div class="card">
                        <img src="@photo.Image" class="img-t"
                         alt="Hollywood Sign on The Hill" />
                    <div class="card-body2">
                            <h5 class="card-title text-center mt-2">@photo.Title</h5>
                        <p class="card-text text-center">
                                @photo.Description
                        </p>
 
                    </div>
                </div>
            </div>
         
            }
            
        </div>
  
</div>
</div>
</div>
