
.cont-det {
    height: calc(100vh - 66px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-det2 {
  /*  height: calc(100vh - 66px);*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-cont{
    height: 100%;
    width: 60%;
   /* background-color:blue;*/
    display:flex;
}
.inner-cont2 {
    height: 100%;
    width: 80%;
    display:flex;
    justify-content:center;
   
}

.cont-img{
    width:50%;
    height:100%;
   /* background-color:red;*/
    display:flex;
    justify-content:center;
    align-items:center;
}
.cont-text {
    width: 50%;
  /*  background-color:green;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-text{
    width:100%;
    height:50%;
    /*background-color:blueviolet;*/
}
.cont-title {
    height: 30%;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-desc {
    height:20%;
    width: 100%;
    font-size: 20px;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.img-center{
    width:100%;
    height:500px;
    object-fit: cover;
}
.img-t{
    height:400px;
    width:100%;
    object-fit: cover;
}
.btn2 {
    width: 100px;
    height: 50px;
    background-color: #0d6efd;
    color:white;
}
.card-body2{
    height: 170px;
    width:100%;
}
.cont-btn{
    height:50px;
    width:100%;
    text-align: center;
}
.cont-create{
   /* height:50px;*/
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;

}
.scroll {
    height: calc(100vh - 66px);
    width: 100%;
    overflow-y: auto;
}
.scroll2 {
    /*height: 2400px;*/
    width: 100%;
}
.formcont{
    position:relative;
    bottom:0;
}
.filter{
    width:100%;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.con-filt{
    width:20%;
    height:100%;
    display:flex;
}
.cont-form{
    width:100%;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.inner-form{
    width:80%;
    height:100%;
}